#app {
  background-color: #e0f4ee;
}

.myHeader {
  /*background-color: #1abc9c;*/
  background: rgb(33, 187, 157);
  background: -moz-linear-gradient(0deg, rgba(33, 187, 157, 1) 0%, rgba(28, 218, 181, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(33, 187, 157, 1) 0%, rgba(28, 218, 181, 1) 100%);
  background: linear-gradient(0deg, rgba(33, 187, 157, 1) 0%, rgba(28, 218, 181, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#21bb9d",endColorstr="#1cdab5",GradientType=1);
  border-bottom: 1px solid #107763;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.evolutions figure {
  background-color: white;
  width: 90px;
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolutions img {
  max-width: 100%;
  max-height: 100%;
}

.evolutions figure:hover {
  opacity: 0.9;
  width: 100px;
  height: 100px;
}

.pokemonCard {
  cursor: pointer;
}

.pokemonCard:hover figure {
  opacity: 0.9;
}

.pokemonCard figure {
  background-color: white;
  width: 205px;
  height: 205px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCard img {
  max-width: 100%;
  max-height: 100%;
}

.pokemonCardFooter {
  width: 205px;
  border-radius: 5px;
  opacity: 0.9;
  padding: 5px;
  margin-top: -45px;
}

.pokeballBattle {
  width: 60px;
  height: 60px;
}

.pokeball:hover {
  opacity: 1;
}

.pokeball {
  opacity: 0.7;
  cursor: pointer;
}

.pokemonBattleImg {
  height: 250px;
  width: 250px;
}

/* Search Overlay -------------------- */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e0f4ee; /* rgba(215, 215, 215, 0.911) */
}

.search-overlay-icon {
  color: #1abc9c;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  flex: 1;
  color: #313131;
}

.search-overlay-top {
  background-color: #e0f4ee;
  /* background-color: rgba(0, 0, 0, .79); */
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 1.2rem;
  }

  .search-overlay-icon {
    font-size: 1.6rem;
  }
}

/* End Search Overlay -------------------- */

/* PokemonDetails -------------------- */
.pokemonDetails {
  border-left: 1px solid #ddd;
  min-width: 500px;
  /*max-width: 500px;*/
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: #e0f4ee; /* rgba(215, 215, 215, 0.911) */
}

.pokemonDetails-enter {
  opacity: 0;
  transform: scale(1.3);
}

.pokemonDetails-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.pokemonDetails-exit {
  opacity: 1;
  transform: scale(1);
}

.pokemonDetails-exit-active {
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.pokemonDetails-icon {
  color: #1abc9c;
  margin: 0;
  margin-right: 10px;
}

.live-search-results {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.07);
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1);
}

.pokemonDetails-top {
  background-color: #e0f4ee;
  /* background-color: rgba(0, 0, 0, .79); */
}

.pokemonDetails-top .container {
  position: relative;
  align-items: center;
  padding: 10px;
}

.pokemonDetails-bottom {
  overflow: auto;
  height: 95%;
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 1.2rem;
  }

  .pokemonDetails-icon {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
  line-height: 1;
  color: #292929;
  right: 0;
  position: fixed;
  margin-right: 10px;
}

.circle-loader {
  opacity: 0;
  transition: opacity 0.45s ease-out, visibility 0.45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End PokemonDetails -------------------- */

.healthBarExt {
  height: 20px;
  width: 300px;
}

.healthBar {
  height: 20px;
  width: 100%;
}