#app {
  background-color: #e0f4ee;
}

.myHeader {
  /*background-color: #1abc9c;*/
  background: rgb(33, 187, 157);
  background: -moz-linear-gradient(0deg, rgba(33, 187, 157, 1) 0%, rgba(28, 218, 181, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(33, 187, 157, 1) 0%, rgba(28, 218, 181, 1) 100%);
  background: linear-gradient(0deg, rgba(33, 187, 157, 1) 0%, rgba(28, 218, 181, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#21bb9d",endColorstr="#1cdab5",GradientType=1);
  border-bottom: 1px solid #107763;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.evolutions figure {
  background-color: white;
  width: 90px;
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.evolutions img {
  max-width: 100%;
  max-height: 100%;
}

.evolutions figure:hover {
  opacity: 0.9;
  width: 100px;
  height: 100px;
}

.pokemonCard {
  cursor: pointer;
}

.pokemonCard:hover figure {
  opacity: 0.9;
}

.pokemonCard figure {
  background-color: white;
  width: 205px;
  height: 205px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonCard img {
  max-width: 100%;
  max-height: 100%;
}

.pokemonCardFooter {
  width: 205px;
  border-radius: 5px;
  opacity: 0.9;
  padding: 5px;
  margin-top: -45px;
}

.pokeballBattle {
  width: 60px;
  height: 60px;
}

.pokeball:hover {
  opacity: 1;
}

.pokeball {
  max-width: 80px;
  max-height: 80px;
  opacity: 0.7;
  cursor: pointer;
}

.overlayCross {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
}

.pokeBallFilledFigure {
  background-color: white;
  width: 64px;
  height: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeBallFilledFigure img {
  padding: 10px;
}

.pokeballSelectedFigure {
  width: 74px;
  height: 74px;
}

.pokeballSelected {
  max-width: 85px;
  max-height: 85px;
  opacity: 1;
  cursor: pointer;
}

.pokemonBattleImg {
  height: 250px;
  width: 250px;
}

/* Search Overlay -------------------- */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #e0f4ee; /* rgba(215, 215, 215, 0.911) */
}

.search-overlay-icon {
  color: #1abc9c;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  flex: 1;
  color: #313131;
}

.search-overlay-top {
  background-color: #e0f4ee;
  /* background-color: rgba(0, 0, 0, .79); */
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 1.2rem;
  }

  .search-overlay-icon {
    font-size: 1.6rem;
  }
}

/* End Search Overlay -------------------- */

/* PokemonDetails -------------------- */
.pokemonDetails {
  border-left: 1px solid #ddd;
  min-width: 500px;
  /*max-width: 500px;*/
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: #e0f4ee; /* rgba(215, 215, 215, 0.911) */
}

.pokemonDetails-enter {
  opacity: 0;
  transform: scale(1.3);
}

.pokemonDetails-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.pokemonDetails-exit {
  opacity: 1;
  transform: scale(1);
}

.pokemonDetails-exit-active {
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
}

.pokemonDetails-icon {
  color: #1abc9c;
  margin: 0;
  margin-right: 10px;
}

.live-search-results {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.07);
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1);
}

.pokemonDetails-top {
  background-color: #e0f4ee;
  /* background-color: rgba(0, 0, 0, .79); */
}

.pokemonDetails-top .container {
  position: relative;
  align-items: center;
  padding: 10px;
}

.pokemonDetails-bottom {
  overflow: auto;
  height: 95%;
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 1.2rem;
  }

  .pokemonDetails-icon {
    font-size: 1.6rem;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
  line-height: 1;
  color: #292929;
  right: 0;
  position: fixed;
  margin-right: 10px;
}

.circle-loader {
  opacity: 0;
  transition: opacity 0.45s ease-out, visibility 0.45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End PokemonDetails -------------------- */

.healthBarExt {
  height: 20px;
  width: 300px;
}

.healthBar {
  height: 20px;
  width: 100%;
  transition: width 1.2s;
}

.gameOver {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.gameOverBody {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.gameOver h1 {
  color: #c1c1c1;
}

.gameOver a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.gameOver a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.attacks {
  opacity: 0.95;
}

.loadingAttack div {
  opacity: 0.7;
}

/* MY POKEMON ATTACK ANIMATION ==================== */
/*.animation {
  animation: sampleanimation 1s forwards;
}

@keyframes sampleanimation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
  50% {
    left: 300px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
}*/

.slide-left,
.slide-back,
.slide-right {
  transition: transform 0.3s;
}

.received-damage {
  transition: transform 0.5s;
}

/*.animation .this-should-from-left {
    transform: translateX(100px);
}*/

.animation .slide-back {
  transform: translateX(0);
}

.animation .slide-left {
  transform: translateX(-100px);
}

.animation .slide-right {
  transform: translateX(100px);
}

.animation .brightness {
  -webkit-animation: brightness 0.5s infinite;
}

@-webkit-keyframes brightness {
  0%,
  100% {
    -webkit-filter: brightness(none);
  }
  50% {
    -webkit-filter: brightness(5);
  }
}
/* MY POKEMON ATTACK ANIMATION ==================== */

/* STATUS (poison, freeze, paralyzed, burn, etc) ==================== */
/* https://isotropic.co/tool/hex-color-to-css-filter/ */
.poison {
  -webkit-animation: poison 0.8s none;
}

@-webkit-keyframes poison {
  0%,
  100% {
    -webkit-filter: none;
  }
  50% {
    -webkit-filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(-100deg) saturate(500%) contrast(1);
  }
}

.frozen {
  -webkit-animation: frozen 0.8s none;
}

@-webkit-keyframes frozen {
  0%,
  100% {
    -webkit-filter: none;
  }
  50% {
    -webkit-filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(130deg) saturate(500%) contrast(1);
  }
}

.burnt {
  -webkit-animation: burnt 0.8s none;
}

@-webkit-keyframes burnt {
  0%,
  100% {
    -webkit-filter: none;
  }
  50% {
    -webkit-filter: grayscale(100%) brightness(70%) sepia(50%) hue-rotate(357deg) saturate(500%) contrast(1);
  }
}

/*change thunder gif to yellow color*/
.filter-yellow {
  filter: grayscale(100%) brightness(130%) sepia(50%) hue-rotate(355deg) saturate(500%) contrast(1);
  transform: rotate(-10deg);
}

.overlayEffect {
  position: absolute;
  max-width: 205px !important;
  min-height: 205px !important;
}

/* STATUS (poison, freeze, paralyzed, burn, etc) ==================== */
